# MultiIndex形式のカラムを1次元のカラムに戻す

In [1]:
import pandas as pd

## データ準備

2021/1/1-2021/2/1の東京、横浜の気温と降水量のテストデータ  
値自体に何も意味はない

In [2]:
list_test = [
    ['2021-01-01', '東京', '気温', 10.5],
    ['2021-01-01', '東京', '降水量', 26.0],
    ['2021-01-01', '横浜', '気温', 9.5],
    ['2021-01-01', '横浜', '降水量', 26.2],
    ['2021-02-01', '東京', '気温', 11.3],
    ['2021-02-01', '東京', '降水量', 25.3],
    ['2021-02-01', '横浜', '気温', 10.6],
    ['2021-02-01', '横浜', '降水量', 27.3]
]
df = pd.DataFrame(list_test, columns=['date', 'region', 'meteorological', 'value'])
print(df.shape)
df.head()

(8, 4)

         date region meteorological  value
0  2021-01-01     東京             気温   10.5
1  2021-01-01     東京            降水量   26.0
2  2021-01-01     横浜             気温    9.5
3  2021-01-01     横浜            降水量   26.2
4  2021-02-01     東京             気温   11.3

## 横持ちに変換する

In [3]:
df_pivot = df.pivot_table(index='date', columns=['region', 'meteorological'], values='value', aggfunc='sum')

In [4]:
df_pivot

region            東京          横浜
meteorological    気温   降水量    気温   降水量
date
2021-01-01      10.5  26.0   9.5  26.2
2021-02-01      11.3  25.3  10.6  27.3

In [5]:
df_pivot.columns

MultiIndex([('東京',  '気温'),
            ('東京', '降水量'),
            ('横浜',  '気温'),
            ('横浜', '降水量')],
           names=['region', 'meteorological'])

カラムがMultiIndexとなっている  
columns.valuesとすると、tuppleの配列が取得できる

In [6]:
df_pivot.columns.values

array([('東京', '気温'), ('東京', '降水量'), ('横浜', '気温'), ('横浜', '降水量')],
      dtype=object)

join関数で結合することができ、`df.columns`に代入すれば1次元のカラムに戻せる

In [7]:
['_'.join(col) for col in df_pivot.columns.values]

['東京_気温', '東京_降水量', '横浜_気温', '横浜_降水量']

In [8]:
df_pivot.columns = ['_'.join(col) for col in df_pivot.columns.values]

In [9]:
df_pivot

            東京_気温  東京_降水量  横浜_気温  横浜_降水量
date
2021-01-01   10.5    26.0    9.5    26.2
2021-02-01   11.3    25.3   10.6    27.3